<ion-content class="ion-padding welcome-screen">
  <div class="logo-container">
    <img src="assets/logo.png" alt="App Logo" class="logo" />
  </div>
  <h1>Welcome to Gesturely!</h1>
  <p>Your interactive app for learning sign language letters.</p>

  <ion-list>
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Learn sign language step by step</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="game-controller-outline" slot="start"></ion-icon>
      <ion-label>Take fun quizzes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
      <ion-label>Track your progress</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="goToLogin()">Get Started</ion-button>
</ion-content>
