.welcome-screen {
  text-align: center;

  .logo-container {
    margin-top: 50px;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  ion-list {
    margin-top: 20px;
  }

  ion-item {
    --ion-item-background: transparent;
  }
}
