<ion-header [translucent]="true">
  <mat-toolbar color="primary">
    <span>Gesturely</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="home-container">
    <div class="logo-container">
      <img src="assets/glitchy.png" alt="Glitchy Logo" class="logo" />
    </div>
    <h2>Welcome to Gesturely {{ username }}!</h2>
    <p>Your smart gesture recognition assistant is ready to help.</p>

    <button mat-raised-button color="primary" routerLink="/profile">
      View Profile
    </button>

    <button mat-raised-button color="accent" routerLink="/tutorial">
      Start Gesture Tutorial
    </button>

    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  </div>
</ion-content>
<app-footer></app-footer>
